// Custom SASS

.fixed-stripe {
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $orange;
  z-index: 999;
}

.navbar.fixed {

  ul {

    li.cta {
      background-color: $primary-color;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }
}

.masthead {
  position: relative;
  height: 500px;
  width: 100%;
  background: transparent url(/images/header/mountains.jpg) no-repeat center 0;

  h1 {

    span {
      background-color: rgba(255, 255, 255, 0.4);
      display: inline-block;
      margin: 10px 0;
      padding: 0 10px;

      &.top {
        margin-top: 45px;
        margin-left: -2000px;
      }

      &.bottom {
        margin-right: -2000px;
      }
    }
  }
}
