// Custom SASS

.fixed-stripe {
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $orange;
  z-index: 999;
}

.navcontain {
  height: auto;
}

.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active > a {
  background: transparent;
}

.navbar {
  z-index: 1000;

  ul li {

    & > a {
      text-shadow: none;
      font-weight: bold;
    }

    &:hover > a {
      color: $orange;
      border-bottom: 3px solid $orange;
    }
  }

  .logo {
    width: 373px;
    margin: 57px 0;
    display: block;
  }

  ul li, ul li > a {
    height: 260px;
    line-height: 258px;
  }

  ul li, ul li > a, .logo {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }

  &.fixed {
    border-bottom: 1px solid $light-blue;

    .logo {
      width: 150px;
      margin: 0;

      img {
        margin: 3px 0 0 0;
      }
    }

    ul li {

      &.cta {
        background-color: $primary-color;

        & > a {
          color: $white;
        }

        &:hover {
          background-color: $primary-hover-color;
        }
      }
    }

    ul li, ul li > a, .logo {
      height: 60px;
      line-height: 58px;
    }
  }
}

.masthead {
  width: 100%;
  overflow: hidden;
  background: #266F9D url(/images/header/mountains.jpg) no-repeat center 0;

  .row {
    height: 500px;
    position: relative;

    .btn.cta {
      position: fixed;
      top: 0;
      left: 50%;
      margin-left: 445px;
      z-index: 999;
    }

    h1 {
      position: relative;

      span {
        display: inline-block;
        top: 60px;
        padding: 0 10px 10px 10px;
        white-space: nowrap;
        position: absolute;

        &.top {
          left: -2000px;
        }

        &.bottom {
          top: 173px;
          right: -2000px;
        }
      }
    }
  }
}
