.row.text-center
  .large-12.columns
    h3 Services &amp; Specialties
      i.fi-laptop

.row.small-text-center.medium-text-left
  .large-offset-2.large-4.medium-offset-1.medium-5.small-12.columns
    include services-navigation-left

  .large-4.medium-5.small-12.columns
    include services-navigation-right

  .large-2.medium-1
