.row
  .four.columns
    p &copy; #{new Date().getFullYear()} William Youmans LLC

  .four.columns.text-center
    p
      a.ttip(href='https://github.com/wyoumans', target='_blank', data-tooltip='Github'): i.icon-github
      a.ttip(href='https://www.facebook.com/wyoumans', target='_blank', data-tooltip='Facebook'): i.icon-facebook
      a.ttip(href='https://twitter.com/wyoumansdev', target='_blank', data-tooltip='Twitter'): i.icon-twitter
      a.ttip(href='http://instagram.com/cwyouman', target='_blank', data-tooltip='Instagram'): i.icon-instagram
      a.ttip(href='http://www.last.fm/user/gotwilly', target='_blank', data-tooltip='Last.fm'): i.icon-lastfm

  .four.columns
    p
      i.icon-mail
      a(href="mailto:hello@williamyoumans.com", itemprop='email') hello@williamyoumans.com
