.row
  .large-4.small-12.columns.small-text-center.large-text-left
    p &copy; #{new Date().getFullYear()} William Youmans LLC

  .large-4.small-12.columns.text-center
    p
      a(href='https://github.com/wyoumans', target='_blank', title='Github'): i.fi-social-github
      a(href='https://www.facebook.com/wyoumans', target='_blank', title='Facebook'): i.fi-social-facebook
      a(href='https://twitter.com/wyoumansdev', target='_blank', title='Twitter'): i.fi-social-twitter
      a(href='http://instagram.com/cwyouman', target='_blank', title='Instagram'): i.fi-social-instagram
      a(href='http://www.last.fm/user/gotwilly', target='_blank', title='Last.fm'): i.fi-social-lastfm

  .large-4.small-12.columns.small-text-center.large-text-right
    p
      i.fi-mail
      a(href='mailto:hello@williamyoumans.com', itemprop='email') hello@williamyoumans.com
