nav#main-nav.top-bar(data-topbar='')
  ul.title-area
    li.name
      h1
        a(href='#') William Youmans LLC
    li.toggle-topbar.menu-icon
      a(href='#')
        span &nbsp;

  section.top-bar-section
    ul.right
      li
        a(href='/projects') Projects
      li
        a(href='/blog/detail/part-1-interactive-javascript-map-of-canada-with-raphael') Blog
      li
        a(href='/about') About
      li
        a(href='/contact') Hire Me

//-
  .navcontain
    #main-nav.navbar(data-fixed='top')
      .row
        a.toggle(data-trigger='#main-nav > .row > ul', href='#')
          i.icon-menu

        .logo-wrapper.three.columns
          a.logo(href='/')
            img(src='/images/branding/logo-full.jpg', alt='William Youmans', data-retina)

        ul.five.columns
          li
            a(href='/projects') Projects
              i.icon-picture

          li
            a(href='/blog/detail/part-1-interactive-javascript-map-of-canada-with-raphael') Blog
              i.icon-feather

          li
            a(href='/about') About
              i.icon-user

          li.cta
            a(href='/contact') Hire Me
              i.icon-phone
