.top-bar-wrapper.contain-to-grid.sticky
  nav#main-nav.top-bar(data-topbar='')
    ul.title-area
      li.name
        a(href='/')
          img(src='/images/branding/logo-full.jpg', alt='William Youmans')

      li.toggle-topbar.menu-icon
        a(href='#')
          span &nbsp;

    .top-bar-section.small-text-center.medium-text-center
      ul.right
        li
          a(href='/projects')
            span Projects
            i.fi-laptop

        li
          a(href='/blog/detail/part-1-interactive-javascript-map-of-canada-with-raphael')
            span Blog
            i.fi-pencil

        li
          a(href='/about')
            span About
            i.fi-torso-business

        li.cta
          a(href='/contact')
            span Hire Me
            i.fi-telephone
