li
  a(href='/projects')
    span Projects
    i.fi-laptop
li
  a(href='/services')
    span Services
    i.fi-lightbulb

li
  a(href='/blog')
    span Blog
    i.fi-pencil

li
  a(href='/about')
    span About
    i.fi-torso-business

li.cta
  a.link-tracker(href='/contact', data-category='Contact Page CTA', data-label='Main Nav Button on ' + locals.currentPath)
    span Hire Me
    i.fi-telephone
