li
  a(href='/projects')
    span Projects
    i.fi-laptop

li
  a(href='/blog')
    span Blog
    i.fi-pencil

li
  a(href='/about')
    span About
    i.fi-torso-business

li.cta
  a(href='/contact')
    span Hire Me
    i.fi-telephone
