.masthead.parallax(data-parallax='-0.5')
  .row
    .medium.primary.btn.cta
      a(href='/contact') Get a Quote!
        i.icon-quote
    h1
      span.top I'm a web developer
      span.bottom based in Boston.
