.masthead.parallax(data-parallax='-0.8')
  .row
    .medium.primary.btn.cta
      a(href='/contact') Get a Quote!
        i.fi-comment-quotes
    h1
      span.top I'm a web developer
      span.bottom based in Boston.
