.masthead.parallax(gumby-parallax='-0.5')
  .row
    .medium.primary.btn.cta
      a(href='/contact') Get a Quote!
        i.icon-quote
    h1
      span.top I'm a freelance web developer
      span.bottom based in Salt Lake City, Utah.
