.row
  .small-12.animation-wrapper.columns
    .text-right
      a.button.cta(href='/contact') Get a Quote!

    .animated-heading
      .top I am the web developer
      .bottom for your <i id='typed-text' class='typing'></i>

      .fade-in-heading Let's build something great <span class="orange-text">together</span>.

    a(href='#').scroll-arrow
      i#scroll-down.fi-arrow-down
