ul.seo-navigation
  li: a(href='/charlotte-startup-consulting') Charlotte Startup Consulting
  li: a(href='/responsive-website-development') Responsive Website Development
  li: a(href='/hand-crafted-website-development') Hand-crafted Website Development
  li: a(href='/charlotte-north-carolina-web-development-services') Charlotte, North Carolina Web Development Services
  li: a(href='/custom-web-applications') Custom Web Applications
  li: a(href='/php-laravel-development') PHP Laravel Development
  li: a(href='/content-management-systems') Content Management Systems
