ul.services-navigation
  li: a(href='/services/custom-wordpress-themes') Custom Wordpress Themes
  li: a(href='/services/node-js-custom-web-application-development') Node.js Custom Web Application Development
  li: a(href='/services/woocommerce-store-development') Woocommerce Store Development
  li: a(href='/services/custom-ecommerce-solutions') Custom Ecommerce Solutions
  li: a(href='/services/north-carolina-website-consulting') North Carolina Website Consulting
  li: a(href='/services/small-business-marketing-websites') Small Business Marketing Websites
  li: a(href='/services/subscription-membership-systems') Subscription Membership Systems
