#sliding-cta.sliding-cta
  .row
    .large-12.columns

      ul.actions
        li: a.yep.button(href='/contact?consultation=1') Yes, please!
        li: a.nope(href='#'): i.fi-x

      p.thin
        a.yep(href='/contact?consultation=1') Have a few questions? Sign up now for a free 1/2 hour phone consultation!
