#################################################################################
# Mac
#################################################################################
:2e*
*~
-.save
.com.apple.timemachine*
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes


#################################################################################
# Compass
#################################################################################
.sass-cache


#################################################################################
# SublimeText project files
#################################################################################
*.sublime-workspace


#################################################################################
# Vim
#################################################################################
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
__Gundo_Preview__
NERD*


#################################################################################
# Compiles Assets
#################################################################################
styles/*.css

#################################################################################
# Package Manager
#################################################################################
node_modules
bower_components
