extends layouts/main

block content
  .row
    .twelve.columns
      h1.main-page-title= pageTitle

      .avatar.pull-right
        img(src='/images/content/about/william-youmans.jpg', alt='William Youmans', gumby-retina='gumby-retina')

      p
        | My name is <strong>William Youmans</strong> and I'm a software developer and consultant based in the beautiful mountains of
        | Utah. I have a driving passion for <strong>creating greatness</strong> on the web by leveraging the right technology for each
        | unique client project.

      p
        | My career has lead me all over the nation and the world and allowed me to experience so many diverse cultures. This experience
        | has given me a <strong>unique perspective</strong> that I bring to all of my projects. I have learned to leverage
        | <strong>transparent communication</strong> to bring countless projects to fruition <strong>on time</strong> and
        | <strong>within budget</strong>.

      p I have more than five years experience developing <strong>professional web applications</strong> using Javascript, Ruby, and PHP.

      p
        | I am currently most excited about full stack Javascript development with MongoDB and Node.js, but I am no stranger to the proven
        | ruggedness of the LAMP stack (Linux, Apache, MySQL, and PHP).

      p I live in the beautiful Salt Lake City, Utah. In my free time, I enjoy skiing, backpacking, and drinking tea.

      P I'd love to be a part of <a href="/contact"><strong>your next project!</strong></a>
