extends layouts/main

block content
  .row
    .twelve.columns
      h1.main-page-title= pageTitle

      .avatar.pull-right
        img(src='/images/content/about/william-youmans.jpg', alt='William Youmans', data-retina)

      p
        | My name is <strong>William Youmans</strong>. I'm a full-time freelance software developer and consultant based in Boston.
        | I have a driving passion for <strong>creating greatness</strong> on the web by leveraging the right technology for each
        | unique client project.

      //-
        p
          | My career has lead me all over the nation and the world and allowed me to experience so many diverse cultures. This experience
          | has given me a <strong>unique perspective</strong> that I bring to all of my projects. I work with <strong>business owners and
          | teams</strong> to advise on and develop software strategies, from theory to implementation. I've learned to leverage
          | <strong>transparent communication</strong> to bring all my projects to fruition <strong>on time</strong> and <strong>within
          | budget</strong>. Need project management along the way to define the scope and wrangle contractors? I do that, too.

      p
        | I've been developing <strong>professional web applications</strong> using Javascript, Ruby, and PHP since 2007. These days,
        | I really love to do full-stack Javascript development with Node.js, AngularJS, and MongoDB, but I'm no stranger to the proven
        | ruggedness of the LAMP stack (Linux, Apache, MySQL, and PHP). Don't know what any of that means? That's ok. Let's talk about
        | what you need, and I'll take it from there.

      p
        | On a more personal note, I recently relocated from Salt Lake City, Utah to Boston.
        | In my free time, I enjoy skiing, backpacking, drinking tea, and getting lost in
        | <a href="https://www.youtube.com/watch?v=aiBt44rrslw" target="_blank">IKEA</a>.

      p But that's enough about me. I want to hear more about you.
