extends layouts/main

block content
  .row
    .large-12.columns
      h1.main-page-title=locals.pageTitle

  .row
    .large-7.medium-7.small-12.columns

      p
        | My name is <strong itemprop="name">William Youmans</strong>. I'm a full-time <span itemprop="jobtitle">freelance software
        | developer and consultant</span> based in <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        | <span itemprop="addressLocality">Northeastern</span> <span itemprop="addressRegion">Pennsylvania</span></span>.
        | I have a driving passion for <strong>creating greatness</strong> on the web by leveraging the right
        | technology for each unique client project.

      p
        | I've been developing <strong>professional web applications</strong> using Javascript, Ruby, and PHP since 2007. These days,
        | I really love to do full-stack Javascript development with Node.js, AngularJS, and MongoDB, but I'm no stranger to the proven
        | ruggedness of the LAMP stack (Linux, Apache, MySQL, and PHP). Don't know what any of that means? That's ok. Let's talk about
        | what you need, and I'll take it from there.

      p
        | On a more personal note, I recently relocated from Boston to Northeastern Pennsylvania.
        | In my free time, I enjoy skiing, backpacking, woodworking, drinking tea, and getting lost in
        | <a href="https://www.youtube.com/watch?v=aiBt44rrslw" target="_blank">IKEA</a>.

      p But that's enough about me. I want to hear more about you.

    .large-5.medium-5.small-12.columns.small-only-text-center
      .avatar.image.th
        img(src='/build/images/content/about/vermont.jpg', alt='William Youmans')
