extends layouts/main

block content
  .row
    .large-12.columns
      h1.main-page-title= pageTitle

  .row
    .large-12.columns
      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/scenes/full/onereview.jpg', alt='One Review', title='One Review')
        .description.large-5.medium-7.small-12.columns
          h2 Blog one
          p June 10 2016
          p
          p
            | Cred knausgaard kombucha pabst. Neutra cred selfies, direct trade letterpress drinking vinegar intelligentsia cold-pressed. Leggings deep v hashtag, meh kickstarter listicle occupy migas taxidermy brunch.
          p

          ul.labels
            li.label.secondary.round Subjects
            li.label.secondary.round Will
            li.label.secondary.round Go
            li.label.secondary.round Here

     .large-12.columns
      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/scenes/full/onereview.jpg', alt='One Review', title='One Review')
        .description.large-5.medium-7.small-12.columns
          h2 Blog one
          p June 10 2016
          p
          p
            | Cred knausgaard kombucha pabst. Neutra cred selfies, direct trade letterpress drinking vinegar intelligentsia cold-pressed. Leggings deep v hashtag, meh kickstarter listicle occupy migas taxidermy brunch.
          p

          ul.labels
            li.label.secondary.round Subjects
            li.label.secondary.round Will
            li.label.secondary.round Go
            li.label.secondary.round Here

      .large-12.columns
      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/scenes/full/onereview.jpg', alt='One Review', title='One Review')
        .description.large-5.medium-7.small-12.columns
          h2 Blog one
          p June 10 2016
          p
          p
            | Cred knausgaard kombucha pabst. Neutra cred selfies, direct trade letterpress drinking vinegar intelligentsia cold-pressed. Leggings deep v hashtag, meh kickstarter listicle occupy migas taxidermy brunch.
          p

          ul.labels
            li.label.secondary.round Subjects
            li.label.secondary.round Will
            li.label.secondary.round Go
            li.label.secondary.round Here

      .large-12.columns
      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/scenes/full/onereview.jpg', alt='One Review', title='One Review')
        .description.large-5.medium-7.small-12.columns
          h2 Blog one
          p June 10 2016
          p
          p
            | Cred knausgaard kombucha pabst. Neutra cred selfies, direct trade letterpress drinking vinegar intelligentsia cold-pressed. Leggings deep v hashtag, meh kickstarter listicle occupy migas taxidermy brunch.
          p

          ul.labels
            li.label.secondary.round Subjects
            li.label.secondary.round Will
            li.label.secondary.round Go
            li.label.secondary.round Here

      .large-12.columns
      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/scenes/full/onereview.jpg', alt='One Review', title='One Review')
        .description.large-5.medium-7.small-12.columns
          h2 Blog one
          p June 10 2016
          p
          p
            | Cred knausgaard kombucha pabst. Neutra cred selfies, direct trade letterpress drinking vinegar intelligentsia cold-pressed. Leggings deep v hashtag, meh kickstarter listicle occupy migas taxidermy brunch.
          p

          ul.labels
            li.label.secondary.round Subjects
            li.label.secondary.round Will
            li.label.secondary.round Go
            li.label.secondary.round Here

      .large-12.columns
      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/scenes/full/onereview.jpg', alt='One Review', title='One Review')
        .description.large-5.medium-7.small-12.columns
          h2 Blog one
          p June 10 2016
          p
          p
            | Cred knausgaard kombucha pabst. Neutra cred selfies, direct trade letterpress drinking vinegar intelligentsia cold-pressed. Leggings deep v hashtag, meh kickstarter listicle occupy migas taxidermy brunch.
          p

          ul.labels
            li.label.secondary.round Subjects
            li.label.secondary.round Will
            li.label.secondary.round Go
            li.label.secondary.round Here

      .large-12.columns
      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/scenes/full/onereview.jpg', alt='One Review', title='One Review')
        .description.large-5.medium-7.small-12.columns
          h2 Blog one
          p June 10 2016
          p
          p
            | Cred knausgaard kombucha pabst. Neutra cred selfies, direct trade letterpress drinking vinegar intelligentsia cold-pressed. Leggings deep v hashtag, meh kickstarter listicle occupy migas taxidermy brunch.
          p

          ul.labels
            li.label.secondary.round Subjects
            li.label.secondary.round Will
            li.label.secondary.round Go
            li.label.secondary.round Here

      .large-12.columns
      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/scenes/full/onereview.jpg', alt='One Review', title='One Review')
        .description.large-5.medium-7.small-12.columns
          h2 Blog one
          p June 10 2016
          p
          p
            | Cred knausgaard kombucha pabst. Neutra cred selfies, direct trade letterpress drinking vinegar intelligentsia cold-pressed. Leggings deep v hashtag, meh kickstarter listicle occupy migas taxidermy brunch.
          p

          ul.labels
            li.label.secondary.round Subjects
            li.label.secondary.round Will
            li.label.secondary.round Go
            li.label.secondary.round Here

            .row
    .large-12.columns
      h2 Questions?
      p
        | If you have any questions or comments about these blogs, don't hesitate to <a href="/contact">get in touch</a>.
        | I'd love to discuss what I can do for <a href="/contact">you</a>.