extends layouts/main

block content
  .row
    .twelve.columns
      h1.main-page-title= pageTitle

      .row
        .twelve.columns
          p
           | I'd love to hear more about your project. Tell me a little about it by using the form below, or by sending me an
           |  <a href="mailto:hello@williamyoumans.com">email</a>. I look forward to it!

      form#contact.form(method='POST', action='/contact', novalidate)

        .row
          .ten.columns
            ul
              li.field.row
                label.two.columns.inline(for='contact_name') Name
                input.ten.columns.omega.input.name(id='contact_name', name='contact[name]', type='text', placeholder='What should I call you?')
                .error-message.text-right Please enter your name.

              li.field.row
                label.two.columns.inline(for='contact_email') Email
                input.ten.columns.omega.input(id='contact_email', name='contact[email]', type='email', placeholder='How should I contact you?')
                .error-message.text-right Please enter a valid email address.

              li.field.row
                label.two.columns.inline(for='contact_message') Message
                textarea.ten.columns.omega.input.textarea(id='contact_message', name='contact[message]', placeholder='What can I do for you?', rows=5)
                .error-message.text-right Please enter your message.

              li.field.row.text-right
                label.checkbox.checked(for='optin')
                  input#optin_hidden(name='optin', value='0', type='hidden')
                  input#optin(name='optin', value='1', type='checkbox', checked='checked')
                  |  Opt-in to our mailing list for infrequent company updates and discounts
                  span

        .row
          .ten.columns.text-right
            .medium.primary.btn
              input(type='submit', value='I\'m finished! Get a Quote.')
