extends layouts/main

block content
  .row
    .twelve.columns
      h1.main-page-title= pageTitle

      .row
        .ten.columns

          form#contact.form(method='POST', action='/contact', novalidate)

            ul

              li.field.row
                label.two.columns.inline(for='contact_name') Name
                input.ten.columns.omega.input.name(id='contact_name', name='contact[name]', type='text', placeholder='What should I call you?')
                .error-message.text-right Please enter your name.

              li.field.row
                label.two.columns.inline(for='contact_email') Email
                input.ten.columns.omega.input(id='contact_email', name='contact[email]', type='email', placeholder='How should I contact you?')
                .error-message.text-right Please enter a valid email address.

              li.field.row
                label.two.columns.inline(for='contact_message') Message
                textarea.ten.columns.omega.input.textarea(id='contact_message', name='contact[message]', placeholder='What can I do for you?', rows=5)
                .error-message.text-right Please enter your message.

            .row
              .push_eight.two.columns.omega
                .medium.info.btn
                  input(type='submit', value='Send')
