extends layouts/main

block content
  .row
    .large-7.small-12.columns
      h2 Hi!

      p
        | I'm <span itemprop="name">William Youmans</span>, a <span itemprop="jobtitle">freelance software developer and consultant
        | </span> based in <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        | <span itemprop="addressLocality">Charlotte, North Carolina</span><span class="hidden">, <span itemprop="addressRegion">Massachusetts
        | </span></span></span>. I develop web apps, implement web design, and create new business technology solutions.

      h3 Specialties:

      ul.labels
        li.label.secondary.radius Javascript
        li.label.secondary.radius Node.js
        li.label.secondary.radius AngularJS
        li.label.secondary.radius MongoDB
        li.label.secondary.radius PHP
        li.label.secondary.radius MySQL
        li.label.secondary.radius HTML5
        li.label.secondary.radius CSS3
        li.label.secondary.radius Sass
        li.label.secondary.radius Less
        li.label.secondary.radius Wordpress
        li.label.secondary.radius Laravel
        li.label.secondary.radius SEO
        li.label.secondary.radius Technical Project Management
        li.label.secondary.radius Server Administration

    .large-5.small-12.columns
      .avatar.large-text-right.medum-text-center.small-text-center
        img(src='/images/content/about/william-youmans.jpg', alt='William Youmans', title='Hire this amazing freelance web developer!')

  .row
    .twelve.columns
      h2 Software Development, Whenever and However You Need It

  .row
    .large-6.small-12.columns
      p
        | With more than 7 years of agency and freelance experience, I've gained in-depth knowledge of most web programming
        | frameworks, including Node.js/Express, Yii, Zend, Laravel, and Ruby on Rails. I offer versatile full-stack development,
        | project management, and software know-how that meets the needs of businesses like yours, whether you know what
        | those needs are or not.

      p
        | My services provide solutions that get you results -- <strong>real results</strong> -- with greater accessibility
        | and less expense than you'll get from a traditional agency. There's no hand-holding on your part, and I'll get you what
        | you need, on time, ready to go, every time.

      //-
        p
          | As a consultant, I can help you figure out what you're looking for and how best to get it -- whether it's a new system
          | or a new staffer, best practices or best options, designing an app or developing a membership site.

        p Whatever you need, I can deliver.

    .large-6.small-12.columns
      p Specific services include:

      ul.circle
        li integrating <a href="/custom-ecommerce-solutions">E-Commerce</a> through Authorize.net and Stripe
        li creating custom <a href="/content-management-systems">content management</a> systems
        li designing <a href="/subscription-membership-systems">subscription membership</a> systems
        li developing custom <a href="/custom-wordpress-themes">Wordpress plugins and themes</a>
        li performing Search Engine Optimization (SEO)
        li architecting <a href="/node-js-custom-web-application-development">highly scalable</a> javascript applications
        li performing <a href="/north-carolina-website-consulting">maintenance</a> on established websites
        li optimizing <a href="/responsive-website-development">websites for mobile devices</a>
