extends layouts/main

block content
  .row
    .seven.columns
      h2 Howdy, friend!

      p
        | I'm a software development contractor and consultant based in Salt Lake City, Utah. I develop web apps,
        | implement web design, and create new business technology solutions.

      p
        | <strong>Technology</strong>: I can incorporate both front-end and back-end technologies, using whichever platforms you need from
        | both the widely adopted to the cutting edge.

      p
        | <strong>Strategy</strong>: I consult with you and your team to cover best practices, discuss available options, or even plan for
        | the addition of a software engineer to your staff.

      p
        a(href='/contact') Let's get in touch

    .five.columns
      .avatar.pull-right
        img(src='/images/content/home/william-youmans-car.jpg', alt='William Youmans', title='Hire this amazing software developer!', gumby-retina='gumby-retina')

  .row
    .twelve.columns
      h2 Software Development, Whenever and However You Need It

  .row
    .six.columns
      p
        | With more than 7 years of agency and freelance experience, I've gained in-depth knowledge of most web programming
        | frameworks, including Node.js/Express, Yii, Zend, Laravel, and Ruby on Rails. I offer versatile full-stack development,
        | project management, and software know-how that meets the needs of small businesses like yours, whether you know what
        | those needs are or not.

      p
        | My services provide technologies that get you results -- <strong>real results</strong> -- with greater accessibility
        | and less expense than you'll get from a traditional agency. There's no hand-holding on your part, and I'll get you what
        | you need, on time, ready to go, every time.

      p
        | As a consultant, I can help you figure out what you're looking for and how best to get it -- whether it's a new system
        | or a new staffer, best practices or best options, designing an app or developing a membership site.

      p Whatever you need, I can deliver.

    .six.columns
      p Specific development services include:

      ul.circle
        li integrating <strong>E-Commerce</strong> through Authorize.net and Stripe
        li creating custom <strong>content management</strong> systems
        li designing <strong>subscription membership</strong> systems
        li developing custom <strong>blogging platforms</strong>
        li providing secure Linux <strong>server administration</strong>
        li performing <strong>Search Engine Optimization</strong> (SEO)
        li setting up marketing <strong>email campaigns</strong>
        li optimizing <strong>multilingual websites</strong>
        li architecting <strong>highly scalable</strong> javascript applications
        li <strong>managing the whole project</strong>, from determining the scope to managing contractors
