extends layouts/main

block content
  .row
    .eight.columns
      h2 What can I do for you?
      p
       | I am a full stack web developer and software consultant with more than five years of experience providing cutting
       | edge <strong>web solutions</strong> to meet the unique needs of <strong>small businesses</strong> like yours.

      p Lately I have been:

      ul.circle
        li integrating <strong>E-Commerce</strong> through Authorize.net and Stripe
        li processing <strong>dynamic images</strong> with imagemagick and aviary
        li creating custom <strong>content management</strong> systems
        li designing <strong>subscription membership</strong> systems
        li developing custom <strong>blogging platforms</strong>
        li providing secure Linux <strong>server administration</strong>
        li performing <strong>Search Engine Optomization</strong> (SEO)
        li setting up marketing <strong>email campaigns</strong>
        li optimizing <strong>multilingual websites</strong>
        li architecting <strong>highly scalable</strong> javascript applications

      p What can I do for <a href="/contact"><strong>YOU?</strong></a>

    .four.columns
      h2 My Tools

      ul.tools.tiles
        each tool in locals.tools
          li.tool.ttip(data-tooltip=tool.name)
            a(href=tool.href, target='_blank', style='background-image: url(' + tool.getImagePath() +');', class=tool.slug)
