extends layouts/main

block content
  .row
    .small-12.columns
      h1 I'm your freelance web developer.

  hr

  .row
    .small-12.columns
      h2 Recent Projects

  .row.projects.text-center

    .large-3.medium-6.small-12.columns
      a.image.th(href='/projects#project-mcard-ionic')
        img.screenshot(src='/build/images/content/projects/scenes/thumbs/mcard-ionic.jpg', alt='Mobile Card Plus', title='See more about the Mobile Card Plus project.')
        img.scene(src='/build/images/content/projects/scenes/thumbs/mcard-api.jpg', alt='Mobile Card Plus', title='See more about the Mobile Card Plus project.')
        p Mobile Card Plus

    .large-3.medium-6.small-12.columns
      a.image.th(href='/projects#project-logomaker')
        img.screenshot(src='/build/images/content/projects/screenshots/thumbs/logomaker.jpg', alt='Logo Maker', title='See more about the Logo Maker project.')
        img.scene(src='/build/images/content/projects/scenes/thumbs/logomaker.jpg', alt='Logo Maker', title='See more about the Logo Maker project.')
        p Logo Maker

    .large-3.medium-6.small-12.columns
      a.image.th(href='/projects#project-onereview')
        img.screenshot(src='/build/images/content/projects/screenshots/thumbs/onereview.jpg', alt='One Review', title='See more about the One Review project.')
        img.scene(src='/build/images/content/projects/scenes/thumbs/onereview.jpg', alt='One Review', title='See more about the One Review project.')
        p One Review

    .large-3.medium-6.small-12.columns
      a.image.th(href='/projects#project-logodesign')
        img.screenshot(src='/build/images/content/projects/screenshots/thumbs/logodesign.jpg', alt='Logo Design', title='See more about the Logo Design project.')
        img.scene(src='/build/images/content/projects/scenes/thumbs/logodesign.jpg', alt='Logo Design', title='See more about the Logo Design project.')
        p Logo Design

  .row.section-heading
    .large-7.small-12.columns
      h2 What can I do for you?

      p
        | I'm <span itemprop="name">William Youmans</span>, a <span itemprop="jobtitle">freelance web developer and consultant
        | </span> based in <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        | <span itemprop="addressLocality">Northeastern</span> <span itemprop="addressRegion">Pennsylvania</span></span>.
        | I develop web apps, implement web design, and create new business technology solutions.

      h3 Extensive experience with:

      ul.labels
        li.label.secondary.radius Javascript
        li.label.secondary.radius Node.js
        li.label.secondary.radius AngularJS
        li.label.secondary.radius MongoDB
        li.label.secondary.radius PHP
        li.label.secondary.radius MySQL
        li.label.secondary.radius HTML5
        li.label.secondary.radius CSS3
        li.label.secondary.radius Sass
        li.label.secondary.radius Less
        li.label.secondary.radius Wordpress
        li.label.secondary.radius Laravel
        li.label.secondary.radius Yii
        li.label.secondary.radius SEO
        li.label.secondary.radius Technical Project Management
        li.label.secondary.radius Server Administration

    .large-5.small-12.columns
      .avatar.large-text-right.medium-text-center.small-text-center
        img.face#bowtie(src='/build/images/content/about/william-youmans.jpg', alt='William Youmans', title='Hire this amazing freelance web developer!')

  .row.section-heading
    .small-12.columns
      h2 Software Development, Whenever and However You Need It

  .row
    .large-6.small-12.columns
      p
        | With more than 10 years of agency and freelance experience, I've gained in-depth knowledge of most web programming
        | frameworks, including Node.js, Yii, Laravel, Wordpress, and Ruby on Rails. I offer versatile full-stack development,
        | project management, and software know-how that meets the needs of businesses like yours, whether you know what
        | those needs are or not.

      p
        | My services provide solutions that get you results -- <strong>real results</strong> -- with greater accessibility
        | and less expense than you'll get from a traditional agency. There's no hand-holding on your part, and I'll get
        | you what you need, on time, ready to go, every time.

    .large-6.small-12.columns
      p Specific services include:

      ul.circle
        li integrating <a href="/services/woocommerce-store-development">e-commerce</a> via Authorize.net or Stripe
        li creating custom <a href="/services/content-management-systems">content management</a> systems
        li designing <a href="/services/subscription-membership-systems">subscription membership</a> systems
        li developing custom <a href="/services/custom-wordpress-themes">Wordpress plugins and themes</a>
        li performing <a href="/services/search-engine-optimization">search engine optimization</a> (SEO)
        li architecting <a href="/services/node-js-custom-web-application-development">highly scalable</a> javascript applications
        li performing <a href="/services/pennsylvania-website-consulting">maintenance</a> on established websites
        li optimizing <a href="/services/responsive-website-development">websites for mobile devices</a>
