extends layouts/main

block content
  .row
    .seven.columns
      h2 Howdy, friend!

      p
        | I'm <span itemprop="name">William Youmans</span>, a <span itemprop="jobtitle">freelance software developer and consultant
        | </span> based in <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        | <span itemprop="addressLocality">Boston</span><span class="hidden">, <span itemprop="addressRegion">Massachusetts
        | </span></span></span>. I develop web apps, implement web design, and create new business technology solutions.

      h3 Specialties:

      p
        ul.labels
          li.label.default Javascript
          li.label.default Node.js
          li.label.default AngularJS
          li.label.default MongoDB
          li.label.default PHP
          li.label.default MySQL
          li.label.default HTML5
          li.label.default CSS3
          li.label.default Sass
          li.label.default Less
          li.label.default Wordpress
          li.label.default SEO
          li.label.default Project Management
          li.label.default Server Administration

    .five.columns
      .avatar.pull-right
        img(src='/images/content/about/william-youmans.jpg', alt='William Youmans', title='Hire this amazing freelance web developer!')

  .row
    .twelve.columns
      h2 Software Development, Whenever and However You Need It

  .row
    .six.columns
      p
        | With more than 7 years of agency and freelance experience, I've gained in-depth knowledge of most web programming
        | frameworks, including Node.js/Express, Yii, Zend, Laravel, and Ruby on Rails. I offer versatile full-stack development,
        | project management, and software know-how that meets the needs of businesses like yours, whether you know what
        | those needs are or not.

      p
        | My services provide solutions that get you results -- <strong>real results</strong> -- with greater accessibility
        | and less expense than you'll get from a traditional agency. There's no hand-holding on your part, and I'll get you what
        | you need, on time, ready to go, every time.

      p
        | As a consultant, I can help you figure out what you're looking for and how best to get it -- whether it's a new system
        | or a new staffer, best practices or best options, designing an app or developing a membership site.

      p Whatever you need, I can deliver.

    .six.columns
      p Specific development services include:

      ul.circle
        li integrating <strong>E-Commerce</strong> through Authorize.net and Stripe
        li creating custom <strong>content management</strong> systems
        li designing <strong>subscription membership</strong> systems
        li developing custom <strong>blogging platforms</strong>
        li providing secure Linux <strong>server administration</strong>
        li performing <strong>Search Engine Optimization</strong> (SEO)
        li setting up marketing <strong>email campaigns</strong>
        li optimizing <strong>multilingual websites</strong>
        li architecting <strong>highly scalable</strong> javascript applications
        li <strong>managing the whole project</strong>, from determining the scope to managing contractors
