extends layouts/main

block content
  .row
    .twelve.columns
      h1.main-page-title= pageTitle

  .row
    section.twelve.columns
      article.row.portfolio-item
        .six.columns
          .image.photo
            img(src='/images/content/projects/logodesign.jpg')
        .description.six.columns
          h2 Logo Design
          p
            | I was contracted by an entrepreneur to develop a membership-based portfolio system for logo designers.
            | It includes integration with the Stripe payment gateway API, the SendGrid API, and the Google DoubleClick
            | advertisement library, as well as a user administration panel and custom integration with the Wordpress
            | blogging platform.
          p
            strong Website: &nbsp;
            a(href='https://www.logodesign.com/', target='_blank') https://www.logodesign.com/

      article.row.portfolio-item
        .six.columns
          .image.photo
            img(src='/images/content/projects/bobbeharris.jpg')
        .description.six.columns
          h2 Bobbe Harris
          p
            | I designed and developed the marketing website for Bobbe Harris, the Virginia-based author of <u>Under Construction</u>.

          p
            strong Website: &nbsp;
            a(href='http://www.nodelove.com/', target='_blank') http://www.bobbeharris.com/

      article.row.portfolio-item
        .six.columns
          .image.photo
            img(src='/images/content/projects/nodelove.jpg')
        .description.six.columns
          h2 Node Love
          p
            | Node Love is a simple, lightening-fast powerful, responsive, database-driven Node.js starter template.
            | With Node Love, your website can be up and running in minutes with this rapid prototyping
            | tool that harnesses the power of Javascript both on the server and in the browser. It's a responsive template
            | loaded with all the buzzworthy technology, including Express, Less, Jade, Browserify, Templatizer, and Skeleton.

          p
            strong Website: &nbsp;
            a(href='http://www.nodelove.com/', target='_blank') http://www.nodelove.com/
          p
            strong Source: &nbsp;
            a(href='http://www.nodelove.com/', target='_blank') https://github.com/wyoumans/node-love

      article.row.portfolio-item
        .six.columns
          .image.photo
            img(src='/images/content/projects/camelize.jpg')
        .description.six.columns
          h2 Camelize Me
          p
            | Camelize Me is a free online tool I developed for programmers that converts arbitrary text into
            | <a href="http://en.wikipedia.org/wiki/CamelCase" target="_blank">camel case</a>. It's really helpful for keeping your
            | variable names consistent without driving yourself crazy. Give it a try and let me know what you think!
          p
            strong Website: &nbsp;
            a(href='http://camelize.com/', target='_blank') http://camelize.com/
          p
            strong Source: &nbsp;
            a(href='https://github.com/wyoumans/camelize', target='_blank') https://github.com/wyoumans/camelize

  .row
    .twelve.columns
      h2 Questions?
      p
        | If you have any questions or comments about these projects, don't hesitate to <a href="/contact">get in touch</a>.
        | I'd love to discuss what I can do for <a href="/contact">you</a>.

