extends layouts/main

block content
  .row
    .twelve.columns
      h1.main-page-title= pageTitle

      h3 Currently working on
      p
        | <a href="http://www.nodelove.com/" target="_blank">Node Love</a> is a nifty little MongoDB driven Node.js
        | starter template. <a href="http://camelize.com/" target="_blank">Camelize Me</a> is an online tool that
        | converts arbitrary text to camel case. I also occasionally contribute to various open source
        | <a href="https://github.com/wyoumans" target="_blank">projects</a>.

      p I am in the process of migrating my personal portfolio to this page. Until then, you can see examples of my work on <a target="_blank" href="https://github.com/wyoumans?tab=repositories">my Github profile</a>
