extends layouts/main

block content
  .row
    .large-12.columns
      h1.main-page-title= pageTitle

  .row
    .large-12.columns
      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/onereview.jpg', alt='One Review', title='One Review')
        .description.large-5.medium-7.small-12.columns
          h2 One Review
          p
            | I was asked to develop a platform for facilitating &ldquo;Fair, Reasonable
            | and Responsible&rdquo; hotel reviews. It features a custom administration panel for managing hotels
            | and users, interactive charts and graphs for the presentation of hotel rating data, and a custom
            | hotel review system.
          p
            strong Website: &nbsp;
            a(href='https://www.onereview.com/', target='_blank') https://www.onereview.com/

          ul.labels
            li.label.round Javascript
            li.label.round Node.js
            li.label.round MongoDB
            li.label.round AngularJS

      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/logodesign.jpg', alt='Logo Design', title='Logo Design')
        .description.large-5.medium-7.small-12.columns
          h2 Logo Design
          p
            | I was contracted by an entrepreneur to develop a membership-based portfolio system for logo designers.
            | It includes integration with the Stripe payment gateway API, the SendGrid API, and the Google DoubleClick
            | advertisement library, as well as a user administration panel and custom integration with the Wordpress
            | blogging platform.
          p
            strong Website: &nbsp;
            a(href='https://www.logodesign.com/', target='_blank') https://www.logodesign.com/

          ul.labels
            li.label.round PHP
            li.label.round Yii Framework
            li.label.round MySQL
            li.label.round Stripe

      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/nodelove.jpg', alt='Node Love', title='Node Love')
        .description.large-5.medium-7.small-12.columns
          h2 Node Love
          p
            | Node Love is a simple, lightening-fast, responsive, database-driven Node.js starter template.
            | With Node Love, your website can be up and running in minutes with this rapid prototyping
            | tool that harnesses the power of Javascript both on the server and in the browser. It's a template
            | loaded with all the buzzworthy technology, including Express, Less, Jade, Browserify, Templatizer, and Skeleton.

          p
            strong Website: &nbsp;
            a(href='http://wyoumans.github.io/node-love', target='_blank') http://wyoumans.github.io/node-love
          p
            strong Source: &nbsp;
            a(href='https://github.com/wyoumans/node-love', target='_blank') https://github.com/wyoumans/node-love

          ul.labels
            li.label.round Javascript
            li.label.round Node.js
            li.label.round MongoDB

      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/roamingfree.jpg', alt='Roaming Free', title='Roaming Free')
        .description.large-5.medium-7.small-12.columns
          h2 Roaming Free
          p
            | I was hired by a traveler to develop a custom, responsive Wordpress theme for his travel blog. It includes
            | integration with Google Maps for every post and the homepage, an animated filter and sort feature for
            | the blog category and archive pages, and responsive Google DoubleClick advertisement slots.
          p
            strong Website: &nbsp;
            a(href='http://www.roaming-free.com', target='_blank') http://www.roaming-free.com

          ul.labels
            li.label.round PHP
            li.label.round Wordpress
            li.label.round MySQL

      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/bobbeharris.jpg', alt='Bobbe Harris', title='Bobbe Harris')
        .description.large-5.medium-7.small-12.columns
          h2 Bobbe Harris
          p
            | I designed and developed the marketing website for Bobbe Harris, the Virginia-based author of
            | <u>Under Construction</u>.

          p
            strong Website: &nbsp;
            a(href='http://www.bobbeharris.com', target='_blank') http://www.bobbeharris.com

          ul.labels
            li.label.round PHP

      article.row.portfolio-item
        .large-7.medium-5.small-12.columns
          .image.th
            img(src='/images/content/projects/camelize.jpg', alt='Camelize Me', title='Camelize Me')
        .description.large-5.medium-7.small-12.columns
          h2 Camelize Me
          p
            | Camelize Me is a free online tool I developed for programmers that converts arbitrary text into
            | <a href="http://en.wikipedia.org/wiki/CamelCase" target="_blank">camel case</a>. It's really helpful for keeping your
            | variable names consistent without driving yourself crazy. Give it a try and let me know what you think!
          p
            strong Website: &nbsp;
            a(href='http://camelize.com', target='_blank') http://camelize.com
          p
            strong Source: &nbsp;
            a(href='https://github.com/wyoumans/camelize', target='_blank') https://github.com/wyoumans/camelize

          ul.labels
            li.label.round Javascript

  .row
    .large-12.columns
      h2 Questions?
      p
        | If you have any questions or comments about these projects, don't hesitate to <a href="/contact">get in touch</a>.
        | I'd love to discuss what I can do for <a href="/contact">you</a>.

