extends layouts/main

block content
  .row
    .large-12.columns
      h1.main-page-title=locals.pageTitle

  .row
    .large-12.columns

      if locals.resource.image
        .section-wrapper.image.th
          img(src='/build/images/content/resources/headers/' + locals.resource.image, alt=locals.pageTitle, itemprop="image")

      if locals.resource.copy && locals.resource.copy.length
        .section-wrapper.copy.clearfix
          each paragraph in locals.resource.copy
            p.clearfix!= paragraph

      if locals.resource.bullets && locals.resource.bullets.length
        .section-wrapper.cases.clearfix
          h2 Bullets?

          ul
            each paragraph in locals.resource.bullets
              li.clearfix!= paragraph

      .section-wrapper.bottom-copy.clearfix
        h2 Questions?

        p
          | If you have any questions or comments about these resources, don't hesitate to get
          | in <a href="/contact">touch</a>. I'd love to discuss what I can do for <a href="/contact">you</a>.
          | Also, please have a look at some of my recent <a href="/projects">projects.</a>
