extends layouts/main

block content
  .row
    .large-12.columns
      h1.main-page-title= pageTitle

  .row
    .large-12.columns
      p: img(src="/images/content/services/default.jpg", alt= pageTitle, itemprop="image")

      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl nec elit facilisis mattis.
        | Vivamus porta malesuada orci, ac maximus mauris gravida at. Duis mollis libero vel dolor sollicitudin
        | bibendum. Sed luctus posuere tristique. Fusce sit amet luctus quam. Fusce a ipsum ut ligula elementum
        | consectetur. Nam neque eros, sagittis sed dictum at, volutpat elementum nulla. Donec sem nulla,
        | lacinia vulputate fermentum non, vestibulum non erat. Nullam pretium viverra leo commodo malesuada.
        | Nulla bibendum vitae augue non sodales. Mauris venenatis sapien vitae nunc euismod, vitae condimentum
        | elit rhoncus.

      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl nec elit facilisis mattis.
        | Vivamus porta malesuada orci, ac maximus mauris gravida at. Duis mollis libero vel dolor sollicitudin
        | bibendum. Sed luctus posuere tristique. Fusce sit amet luctus quam. Fusce a ipsum ut ligula elementum
        | consectetur. Nam neque eros, sagittis sed dictum at, volutpat elementum nulla. Donec sem nulla,
        | lacinia vulputate fermentum non, vestibulum non erat. Nullam pretium viverra leo commodo malesuada.
        | Nulla bibendum vitae augue non sodales. Mauris venenatis sapien vitae nunc euismod, vitae condimentum
        | elit rhoncus.

      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl nec elit facilisis mattis.
        | Vivamus porta malesuada orci, ac maximus mauris gravida at. Duis mollis libero vel dolor sollicitudin
        | bibendum. Sed luctus posuere tristique. Fusce sit amet luctus quam. Fusce a ipsum ut ligula elementum
        | consectetur. Nam neque eros, sagittis sed dictum at, volutpat elementum nulla. Donec sem nulla,
        | lacinia vulputate fermentum non, vestibulum non erat. Nullam pretium viverra leo commodo malesuada.
        | Nulla bibendum vitae augue non sodales. Mauris venenatis sapien vitae nunc euismod, vitae condimentum
        | elit rhoncus.

      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl nec elit facilisis mattis.
        | Vivamus porta malesuada orci, ac maximus mauris gravida at. Duis mollis libero vel dolor sollicitudin
        | bibendum. Sed luctus posuere tristique. Fusce sit amet luctus quam. Fusce a ipsum ut ligula elementum
        | consectetur. Nam neque eros, sagittis sed dictum at, volutpat elementum nulla. Donec sem nulla,
        | lacinia vulputate fermentum non, vestibulum non erat. Nullam pretium viverra leo commodo malesuada.
        | Nulla bibendum vitae augue non sodales. Mauris venenatis sapien vitae nunc euismod, vitae condimentum
        | elit rhoncus.

      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis nisl nec elit facilisis mattis.
        | Vivamus porta malesuada orci, ac maximus mauris gravida at. Duis mollis libero vel dolor sollicitudin
        | bibendum. Sed luctus posuere tristique. Fusce sit amet luctus quam. Fusce a ipsum ut ligula elementum
        | consectetur. Nam neque eros, sagittis sed dictum at, volutpat elementum nulla. Donec sem nulla,
        | lacinia vulputate fermentum non, vestibulum non erat. Nullam pretium viverra leo commodo malesuada.
        | Nulla bibendum vitae augue non sodales. Mauris venenatis sapien vitae nunc euismod, vitae condimentum
        | elit rhoncus.
