extends layouts/main

block content
  .row
    .large-12.columns
      h1.main-page-title= pageTitle

  .row
    .large-12.columns
      if service.image
        p: img(src="/images/content/services/#{service.image}", alt= pageTitle, itemprop="image")

      each paragraph in service.copy
        p= paragraph
