doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9", xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance", xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd")
  each page in locals.pages
    url
      loc= locals.baseURL + page.url
      changefreq weekly
      priority= page.priority
