extends layouts/main

block content
  .row
    .large-12.columns
      h1.text-center.main-page-title Your message has been received, loud and clear!

      p.text-center
        a(href='/')
          img(src='/images/branding/huge-logo.jpg', alt='William Youmans', title='The best freelance developer around.', data-retina)
