extends layouts/main

block content
  .row
    .twelve.columns
      h1.text-center.main-page-title= pageTitle

      p.text-center
        img(src='/images/branding/huge-logo.jpg', alt='William Youmans', title='The best freelance developer around.', gumby-retina='gumby-retina')
