extends ../layouts/main

block content
  .four-oh-four
    .row
      .large-12.columns
        h1 Sorry, this page does not exist

        p What can I do for you?

    .row
      .large-6.columns
        include ../partials/services-navigation-left

      .large-6.columns
        include ../partials/services-navigation-right
