extends ../layouts/email

block content
  p Howdy,

  p The contact form has been submitted with the following details:

  p
    strong Name: &nbsp;
    span= name
  p
    strong Email: &nbsp;
    span= email
  p
    strong Host: &nbsp;
    span= host

  p
    strong Message:
    br
    span!= message.replace(/\r/g, '<br>')
