extends ../layouts/email

block content
  p Howdy,

  p The contact form has been submitted with the following details:

  p Name: #{name}
  p Email: #{email}
  p Host: #{host}
  p Message: #{message}
