body.contact {

  .columns {

    small.error {
      display: none;
    }

    &.error {

      small.error {
        display: block;
      }
    }
  }

  .checkbox-wrapper {
    @media #{$small-only} {
      margin-bottom: rem-calc(15);
    }

    input[type="checkbox"] + label {
      margin-right: 0;

      @media #{$small-only} {
        display: inline;
        line-height: normal;
      }
    }

    input[type="checkbox"] {

      @media #{$small-only} {
        margin-bottom: 0;
        display: inline;
      }
    }
  }
}
