body.contact {

  .columns {

    small.error {
      display: none;
    }

    &.error {

      small.error {
        display: block;
      }
    }
  }

  input[type="checkbox"] + label {
    margin-right: 0;
  }
}
