a {
  word-wrap: break-word;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// h1 {

//   &.main-page-title {
//     margin-bottom: 30px;
//   }

//   @include respond(all-phones) {
//     font-size: 40px;
//   }
// }

// .danger {
//   color: $danger-color;
// }

// form {

//   li.field {
//     position: relative;

//     .error-message {
//       position: absolute;
//       right: 40px;
//       top: 5px;
//       z-index: 20;
//       display: none;
//     }

//     &.danger, &.warning, &.success {

//       &:after {
//         top: 5px;
//       }
//     }

//     &.danger .error-message {
//       display: block;
//     }
//   }
// }

// ul.labels {

//   li {
//     margin-right: 3px;
//   }
// }

// .hidden {
//   display: none;
// }
