a {
  word-wrap: break-word;
}

ul.labels {
  margin-left: rem-calc(0);

  li {
    margin-right: rem-calc(3);
  }
}

.hidden {
  display: none;
}

h1 {

  &.main-page-title {
    margin-bottom: rem-calc(30);
  }
}

.four-oh-four {
  margin-bottom: rem-calc(60);

  ul.seo-navigation {
    margin-left: 0;
  }
}
