body {
  font-size: rem-calc(18)
}

a {
  word-wrap: break-word;
}

p, li {
  font-size: rem-calc(18);

  &.lead {
    font-size: rem-calc(23);
  }
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {

  &.main-page-title {
    margin-bottom: rem-calc(30);
  }
}

.four-oh-four {
  margin-bottom: rem-calc(60);

  ul.services-navigation {
    margin-left: 0;
  }
}

ul.labels {
  margin-left: rem-calc(0);

  li {
    margin-right: rem-calc(3);
  }
}

input, textarea {
  font-weight: 300;
}

.label {
  font-size: rem-calc(16);
}

.typed-cursor {
  @include opacity(1);
  @include animation(blink 0.7s infinite);
}

.orange-text {
  color: $primary-color;
}
