// body.home {

//   .masthead {
//     width: 100%;
//     overflow: hidden;
//     background: $dark-blue url(/images/header/city.jpg) no-repeat center 0;

//     .row {
//       height: 300px;
//       position: relative;

//       @include respond(all-phones) {
//         height: 192px;
//       }

//       .btn.cta {
//         position: absolute;
//         top: 0;
//         right: 0;
//         margin-right: 10px;
//         z-index: 999;
//       }

//       h1 {
//         position: relative;

//         @include respond(portrait-phones) {
//           font-size: 25px;
//         }

//         span {
//           display: inline-block;
//           top: 60px;
//           padding: 0 10px 10px 10px;
//           white-space: nowrap;
//           position: absolute;
//           background-color: rgba(255, 255, 255, 0.4);
//           @include text-shadow($white 1px 1px 1px);

//           &.top {
//             left: -2000px;
//           }

//           &.bottom {
//             top: 173px;
//             right: -2000px;

//             @include respond(all-phones) {
//               top: 126px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

body.home {

  .header {
    text-align: center;
    background: url(/images/header/city.jpg) no-repeat center center;
    @include background-size(cover);
    height: rem-calc(500);
  }

  ul.labels {

    li.label {
      font-size: 16px;
      padding: 10px;
      margin: 0 5px 5px 0;
      height: auto;
      line-height: normal;
      font-weight: normal;
    }
  }
}
