body.home {

  .masthead {
    width: 100%;
    overflow: hidden;
    background: $dark-blue url(/images/header/mountains.jpg) no-repeat center 0;

    .row {
      height: 300px;
      position: relative;

      @include respond(all-phones) {
        height: 192px;
      }

      .btn.cta {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
        z-index: 999;
      }

      h1 {
        position: relative;

        span {
          display: inline-block;
          top: 60px;
          padding: 0 10px 10px 10px;
          white-space: nowrap;
          position: absolute;
          background-color: rgba(255, 255, 255, 0.4);
          @include text-shadow(rgba($white, 0.4) 2px 2px 3px);

          &.top {
            left: -2000px;
          }

          &.bottom {
            top: 173px;
            right: -2000px;

            @include respond(all-phones) {
              top: 126px;
            }
          }
        }
      }
    }
  }

  .tools {
    overflow: visible; // override a stupid gumby rule for tiles that prevents tooltips from showing

    .tool {
      margin-bottom: 2%;
      text-align: center;

      a {
        height: 88px;
        width: 88px;
        display: block;
        background-repeat: no-repeat;
        background-position: -88px 0;

        &:hover {
          background-position: 0 0;
        }
      }
    }
  }

  .footer-media {

    h3 i {
      margin-left: 20px;
    }

    .image-row {
      margin-top: 10px;

      a {
        display: inline-block;

        img {
          height: 268px;
        }
      }
    }
  }
}
