body.home {

  .header {
    text-align: center;
    background: url(/images/header/clt-night.jpg) no-repeat center center;
    @include background-size(cover);
    height: rem-calc(550);
    position: relative;
    width: 100%;
    overflow: hidden;

    @media #{$medium-only} {
      height: rem-calc(300);
    }

    @media #{$small-only} {
      height: rem-calc(200);
    }

    .animated-heading {

      h1 {
        position: relative;
        margin-top: rem-calc(25);

        span {
          color: $white;
          @include inline-block;
          top: rem-calc(50);
          padding: rem-calc(0 10 10 10);
          white-space: nowrap;
          position: absolute;
          @include text-shadow($primary-color 1px 1px 1px);
          font-size: rem-calc(70);

          &.top {
            left: rem-calc(-2000);
          }

          &.bottom {
            top: rem-calc(195);
            right: rem-calc(-2000);
          }
        }

        @media #{$medium-only} {
          margin-top: 0;

          span {
            top: 0;
            font-size: rem-calc(50);

            &.bottom {
              top: rem-calc(85);
            }
          }
        }

        @media #{$small-only} {
          margin-top: 0;

          span {
            top: 0;
            font-size: rem-calc(30);

            &.bottom {
              top: rem-calc(45);
            }
          }
        }
      }
    }
  }

  ul.labels {

    li.label {
      font-size: rem-calc(16);
      padding: rem-calc(10);
      margin: rem-calc(0 5 5 0);
      height: auto;
      line-height: normal;
      font-weight: 300;
    }
  }
}
