body {
  background-color: $footer-blue-tier1;
}

.top-bar-wrapper {

  .title-area li h1 a {
    padding: rem-calc(0 0 0 20)
  }

  ul li {

    a {

      span, i {
        @include inline-block;
      }

      i {
        margin-left: rem-calc(10);
      }
    }
  }

  &.fixed {
    border-bottom: 1px solid $light-gray;

    ul li {

      &.cta a {
        background-color: $primary-color;
        color: $white;

        &:hover {
          background-color: $button-bg-hover;
        }
      }
    }
  }
}

.top-bar {

  .name {
    margin-left: rem-calc(15);
    // padding-top: rem-calc(10);

    @media #{$small-only} {
      max-width: rem-calc(230);
    }

    a {
      line-height: $topbar-height;
      margin: 0;
      display: block;
    }
  }
}

.fixed-stripe {
  height: rem-calc(5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $orange;
  z-index: 999;
}

.main-content {
  padding: rem-calc(50 0);
  background-color: $white;

  @media #{$medium-up} {
    min-height: rem-calc(850);
  }
}

.main-footer {
  background-color: $footer-blue-tier3;
  color: $footer-font-color;

  a {
    @include link-colors($footer-link-color, $footer-link-hover-color, $footer-link-hover-color, $footer-link-color, $footer-link-hover-color);
  }

  &, p, li {
    font-size: rem-calc(14);
  }

  .footer-navigation {
    background-color: $footer-blue-tier2;

    .services-navigation {
      margin: rem-calc(20 0);
    }
  }

  .extra-footer {
    background-color: $dark-blue;
    color: $footer-font-color;

    p {
      line-height: rem-calc(25);
      margin: rem-calc(10 0);
    }

    span, a, i {
      @include inline-block;
    }

    i {
      font-size: rem-calc(25);
    }

    .email {

      i {
        margin-right: rem-calc(10);
      }
    }

    .social-links {

      a {
        width: rem-calc(40);
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  .footer-media {
    padding: rem-calc(5 0 20 0);

    h3 {

      i {
        @include inline-block;
        margin-left: rem-calc(20);
      }
    }

    .smaller {
      font-size: rem-calc(11);
      line-height: normal;
    }

    .tweeting {

      .tweet {
        margin-bottom: rem-calc(40);
        max-width: 90%;
        font-size: rem-calc(16);

        &:last-child {
          border: 0;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    .image-row {

      a.image {
        @include inline-block;
        max-width: 90%;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
