.top-bar-wrapper {

  .title-area li h1 a {
    padding: rem-calc(0 0 0 20)
  }

  ul li {

    a {

      i {
        @include inline-block;
        margin-left: rem-calc(10);
      }
    }
  }

  &.fixed {
    border-bottom: 1px solid $light-gray;

    ul li {

      &.cta a {
        background-color: $primary-color;
        color: $white;

        &:hover {
          background-color: $button-bg-hover;
        }
      }
    }
  }
}

.top-bar {

  .name {
    margin-left: rem-calc(15);

    @media #{$small-only} {
      max-width: rem-calc(230);
    }

    a {
      line-height: $topbar-height;
      margin: 0;
      display: block;
    }
  }
}

.fixed-stripe {
  height: rem-calc(5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $orange;
  z-index: 999;
}

.main-content {
  padding: rem-calc(50 0);
}

.main-footer {
  background-color: $footer-gray;
  color: $footer-font-color;

  a {
    @include link-colors($footer-link-color, $footer-link-hover-color, $footer-link-hover-color, $footer-link-color, $footer-link-hover-color);
  }

  .extra-footer {
    background-color: $almost-black;
    color: $footer-font-color;

    p {
      line-height: rem-calc(25);
      margin: rem-calc(10 0);
    }

    i {
      @include inline-block;
      margin: 0 3%;
      font-size: rem-calc(25);
      vertical-align: middle;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  .footer-media {
    padding: rem-calc(5 0 20 0);

    h3 {

      i {
        @include inline-block;
        margin-left: rem-calc(20);
      }
    }

    .smaller {
      font-size: rem-calc(11);
      line-height: normal;
    }

    .tweeting {

      .tweet {
        border-bottom: 1px solid lighten($footer-gray, 10%);
        margin: 0 auto rem-calc(20) auto;
        padding-bottom: rem-calc(20);
        max-width: 90%;

        &:last-child {
          border: 0;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    .image-row {

      a.image {
        @include inline-block;
        max-width: 90%;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
