.fixed-stripe {
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $orange;
  z-index: 999;
}

.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active > a {
  background: transparent;
}

.navbar {
  z-index: 1000;

  @include respond(all-phones) {
    z-index: 1;
  }

  ul.active {

    @include respond(all-phones) {
      margin-top: 10px;
    }
  }

  ul li {

    & > a {
      @include text-shadow(none);
      font-weight: bold;
    }

    &:hover > a {
      color: $orange;
    }
  }

  .logo {
    width: 100%;
    line-height: 198px;
    display: block;
    height: auto;

    @include respond(all-phones) {
      text-align: center;
      padding-top: 10px;
      height: auto;
      line-height: 58px;

      img {
        max-width: 40%;
      }
    }

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  ul li, ul li > a {
    height: 200px;
    line-height: 198px;

    @include respond(all-phones) {
      height: 60px;
      line-height: 58px;
    }
  }

  ul li, ul li > a, .logo {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }

  &.fixed {

    @include respond(desktop) {
      border-bottom: 1px solid $light-gray;

      .logo {
        width: 150px;
        margin: 0;
      }

      ul li {

        &.cta {
          background-color: $primary-color;

          & > a {
            color: $white;
            border: 0;
          }

          &:hover {
            background-color: $primary-hover-color;
          }
        }
      }

      ul li, ul li > a, .logo {
        height: 60px;
        line-height: 58px;
      }
    }
  }
}

.header-spacer {
  height: 10px;
}

.main-content {
  min-height: 500px;
}

.main-footer {
  background-color: $footer-gray;
  color: $footer-font-color;
  margin-top: 50px;

  a {
    @include link-colors($footer-link-color, $footer-link-hover-color, $footer-link-hover-color, $footer-link-color, $footer-link-hover-color);
  }

  .extra-footer {
    background-color: #1C1C1C;
    padding-top: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  h3 i {
    margin-left: 20px;
  }

  .image-row {
    margin-top: 10px;

    a {
      display: block;
    }
  }
}
