body.service, body.services {

  .section-wrapper {
    margin: rem-calc(25 0 30 0);
  }

  .cases {

    .image {

      img {
        max-width: 250px;
      }

      @media #{$small-only} {
        display: block;
        width: 258px;
        margin: 0 auto rem-calc(20) auto;
      }

      &.left-not-important {
        margin-right: rem-calc(15);
        float: left;

        @media #{$small-only} {
          float: none;
          margin-right: auto;
        }
      }

      &.right-not-important {
        margin-left: rem-calc(15);
        float: right;

        @media #{$small-only} {
          float: none;
          margin-left: auto;
        }
      }
    }
  }
}
