// Grid Settings
$row-max-width: 1160px !default;            // 940px

// Responsiveness Settings
$min-device-width: 320px;                  // iPhone Portrait
$tablet-device-width: 768px;               // iPad Portrait
$document-width: $row-max-width;           // Default Document
$max-device-width: 2880px;                 // Max Document Size

$black: #000000;
$almost-black: #1C1C1C;
$white: #FFFFFF;
$light-blue: #AAC8E0;
$dark-blue: #223344;
$orange: #CC6600;
$dark-orange: #8C4600;
$footer-gray: #292727;
$medium-gray: #343434;
$light-gray: #CCCCCC;

// Typography Colors
$footer-font-color: $white !default;
$footer-link-color: $light-gray !default;
$footer-link-hover-color: $white !default;

// User Interface Colors
$main-content-bg-color: $white;

$primary-color: $orange;
$danger-color: #ca3838;

$primary-hover-color: #FF8000;
